/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilo global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #4c0080, #2a005a);
    color: white;
}

/* Cabeçalho */
header {
    background-image: url("../img/UNIVERZ.png");
    background-size: contain;
    background-repeat: repeat-x;
    text-align: center;
    padding: 20px;
    background-color: #3b0065;
    background-position: center;
}



/* Títulos */
h1 {
    font-size: 2.5em;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

/* Parágrafos */
p {
    font-family: "Lato", sans-serif;
}

/* Seções */
section {
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

/* Container promocional */
.container-promo {
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5e00a6;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

/* Produtos */
.produtos-h {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.9s ease;
}

.produto:hover img {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.produto p {
    margin-top: 10px;
    transition: transform 0.9s ease, margin-top 0.9s ease;
    font-size: 1rem;
}

.produto:hover p {
    transform: translateY(10px);
}

.produto button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #DC2BD6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.9s ease;
}

.produto button:hover {
    background-color: #8c00af;
    transform: scale(1.1);
}

/* Jogos */
.jogo img {
    scale: 0.90;
    transition: transform 0.9s ease;
}

.jogo img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.jogo p {
    margin-top: 10px;
    transition: transform 0.3s ease;
    font-size: 1rem;
}

.jogo button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #DC2BD6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.9s ease;
}

.jogo button:hover {
    background-color: #8c00af;
    transform: scale(1.1);
}

/* Formulário */
.form-a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-a form {
    box-sizing: border-box;
    background-color: #d9d9d980;
    border-radius: 25px;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 400px;
    padding: 40px;
    justify-content: center;
    display: flex;
    text-align: center;
}

.form-a form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #2c2c2c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 20px;
    transition: border-color 0.3s;
}

.form-a form input:focus {
    border-color: #DC2BD6;
}

.form-a form a {
    color: #d7d7d7;
    text-decoration: none;
    transition: color 0.3s;
}

.form-a form a:hover {
    color: #DC2BD6;
}

/* Botões gerais */
button, .form-a form button {
    background-color: #DC2BD6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button:hover, .form-a form button:hover {
    background-color: #8c00af;
    transform: scale(1.1);
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2c2c2c;
    margin-top: 20px;
    height: 300px;
}

/* Cards (layout de grid) */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.card {
    background-color: #894AC5;
    width: 250px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.9s ease;
    text-align: center;
    padding: 100px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    color: #FFFF;
    font-size: 30px;
}

.card p {
    font-size: 20px;
    color: #FFFF;
    line-height: 2;
    font-family: "Lato", sans-serif;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.card-content {
    justify-items: center;
    align-items: center;
}
