
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #4c0080, #2a005a);
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #3b0065;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

.promo {
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*background-color: #5e00a6;*/
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

.produtos-h {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.produto img{
    max-width: 550px;
    border-radius: 10px;
    transition: 1.5;
}

.produto :hover {
    transform: scale(1.1);
    }

.jogo :hover {
    transform: scale(1.1);
    cursor: pointer;
}

.contato form {
    justify-content: center;
    background-color: #d9d9d980 ;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 400px;
    padding: 80px;
}

.contato form input {
    width: 100%;
    padding: 0px;
    font-size: 16px;
    border: 1px solid #2c2c2c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 20px;
    transition: border-color 0.3s;
}

.contato form a {
    color: #D7D7D7;
}

button {
    background-color: #DC2BD6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #8c00af;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c2c2c;
    margin-top: 20px;
    height: 300px;  
}